header{
    background: #5b0c74a6;   
}
body{    
    background: url(/imagens/capa.png),
                url(/imagens/ruido.png),
    linear-gradient(to right, #ff4169, #7c26f8);
}
#area_botoes_inscricaoeentrar{
    border-left: solid 1px white;      
}
#area_botoes_inscricaoeentrar:hover{
    border-left: solid 1px red;
}
.navbar ul a{        
    color: rgba(238, 238, 238, 0.801);     
}
.nav-item .link_primarios:hover{
    text-decoration: overline #fbff00;
    color: white;
}
.navbar-nav .link:hover{
    color: #33a2ec;
    text-decoration: overline rgb(32, 190, 32);
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
} 
.navbar-dark .navbar-nav .nav-link:hover{
    color: #33a2ec;
}       
.navbar-toggler{
    border: solid 1px white;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.932);
    border-color: rgba(255, 255, 255, 0.884);
}
.navbar-nav .divisor{
    border-left: solid 1px white ;
    height: 20px;
    margin: 0 10px 0 10px;
}
 