
html, body, #home{
    width: 100%;
    height: 100%;    
}
body{    
    background: url(/imagens/capa.png),
                url(/imagens/ruido.png),
    linear-gradient(to right, #ff4169, #7c26f8);
}
header{
    background: rgba(0, 0, 0, 0.5);   
}
.navbar-nav .link:hover{
    color: #33a2ec;
    text-decoration: overline rgb(32, 190, 32);
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
} 
.navbar-dark .navbar-nav .nav-link:hover{
    color: #33a2ec;
}       
.navbar-toggler{
    border: solid 1px white;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.932);
    border-color: rgba(255, 255, 255, 0.884);
}
.navbar-nav .divisor{
    border-left: solid 1px white ;
    height: 20px;
    margin: 0 10px 0 10px;
}
.btn-danger:hover {
    color: rgb(221, 212, 212);
    background-color: #c74332;
    border-color: #f5d62a;
}
.btn-warning:hover {
    color: #1011139f;
    background-color: #e48f49;
    border-color: #fcdb24;
}
 